CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
outputs
*.m3u8
*.ts
*.mp4
*.mp3
*.mp2
*.mp1
*.m4a
*.m4v
*.m4p
*.m4b
*.m4r
*.m4s
*.MP4
*.MP3
*.MP2
*.MP1
*.M4A
*.M4V
*.M4P
*.M4B
*.M4R
*.M4S